__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
build/
dist/
node_modules/
frontend/node_modules/
frontend/.vite/
*.DS_Store
.git
.gitignore
.env
venv/
.venv/
coverage/
*.egg-info/
frontend/dist/
frontend/.cache/
*.env.*
Thumbs.db
*.swp
